<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!--Título sugerido-->
    <title>Pão e Cia</title>

    <!--Jquery-->
    <script src="js/jquery-3.2.1.min.js"></script>

    <!--Materialize-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--Ícones-->
    <link href="icons/google/material/iconfont/material-icons.css" rel="stylesheet">

    <!--Otimizado para mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Meu CSS-->
    <link rel="stylesheet" href="css/image.css">
    <link rel="stylesheet" href="css/niveis.css">

    <!--Init-->
    <script src="js/nav.js"></script>
    <script src="js/niver.js"></script>
    <script src="js/select.js"></script>
    <script src="js/autoc.js"></script>
    <script src="js/chart.min.js"></script>




  </head>
  <body>

    <header>
      <nav>
        <div class="nav-wrapper red darken-4">
          <a href="index.html" class="brand-logo">Pão&#38;Cia</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="perfil.html"><i class="material-icons left">account_circle</i>Seu perfil</a></li>
            <li><a href="index.html"><i class="material-icons left">restaurant</i>Cardápio</a></li>
            <li><a href="carrinho.html"><i class="material-icons left">local_grocery_store</i>Carrinho</a></li>
            <li><a href="chat.html"><i class="material-icons left">question_answer</i>Chat</a></li>
            <li><a href="entrar.html"><i class="material-icons left">build</i>Login|Cadastrar-se</a></li>
            <li><a href="sobre.html"><i class="material-icons left">description</i>Sobre</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="perfil.html"><i class="material-icons left">account_circle</i>Seu perfil</a></li>
            <li><a href="index.html"><i class="material-icons left">restaurant</i>Cardápio</a></li>
            <li><a href="carrinho.html"><i class="material-icons left">local_grocery_store</i>Carrinho</a></li>
            <li><a href="chat.html"><i class="material-icons">question_answer</i>Chat</a></li>
            <li><a href="entrar.html"><i class="material-icons left">build</i>Login|Cadastrar-se</a></li>
            <li><a href="sobre.html"><i class="material-icons left">description</i>Sobre</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="compras_recentes_geral">
      <div class="title_recents flow-text center-align">
        <h5>
          Histórico de compras
        </h5>
      </div>
      <div class="tabela_compras">
        <table class="bordered centered">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Total gasto</th>
              <th>Data</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Pão Francês</td>
              <td>3 Kg</td>
              <td>R$36,00</td>
              <td>17/01/2018</td>
            </tr>
            <tr>
              <td>Pão doce</td>
              <td>1 Kg</td>
              <td>R$10,00</td>
              <td>17/01/2018</td>
            </tr>
            <tr>
              <td>Pão de queijo</td>
              <td>0,5 Kg</td>
              <td>R$6,00</td>
              <td>17/01/2018</td>
            </tr>
            <tr>
              <td>Coca-cola 1L</td>
              <td>2 L</td>
              <td>R$1,00 *</td>
              <td>17/01/2018</td>
            </tr>
          </tbody>
        </table>

        <div class="dividiu_asterisco">
          <p class="flow-text center-align">
            * Compras divididas com outras pessoas
          </p>
        </div>


        <ul class="pagination center-align">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>


      </div>
    </div>
  </body>
</html>
